
#customers {
    position: absolute;
    left: 16px;
    text-align: left;
    border-collapse: collapse;
}
.table-customer thead th {
    color: white;
    position: sticky;
    top: 0;
    background-color: #2bb97b
}
.table-customer tr {
    border-bottom: 1px solid #dbdbdb;
    height: 48px;
}
.table-customer th:first-child, th:last-child, td:first-child, td:last-child {
    padding-left:16px;
}
.table-customer th:last-child, td:last-child {
    width:40px;
}
#customers > tbody {
    cursor:pointer;
}
#style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #a19c9e;
}
