#modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 650px;
    height: 550px;
    left: 30%;
    top: 10%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    margin:25px;
    height:500px;
    width:600px;
    background-color:white;
    border-radius:3px;
}
#modal .modal-content .modal-header {
    height: 20px;
    display:flex;
    padding:20px;
}
#modal .modal-content .modal-header .title {
    font-weight:bold;
    font-size:20px;
}
#modal .modal-content .modal-header span {
    width:13px;
    position:absolute;
    right:50px;
    top: 40px;
}
#modal .modal-body {
    height: 380px;
}
#modal .modal-footer {
    background-color:#ebebeb;
    height:59px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
#modal .modal-footer button {
    border:none;
    height:40px;
    width:100px;
    margin-right:20px;
    font-weight:bold;
    text-align:center;  
}
#cancel {
    background-color:#ebebeb;
}
#saveInfo {
    color:white;
} 
#modal .flex-grow {
    display:flex;
    height:200px;
    margin:10px;
}
#modal .flex-grow .info1 {
    margin-right:10px;
}
#modal .flex-grow  .input-wrapper {
    margin-bottom: 10px;
}
#modal .flex-grow  input {
    width: 167px;
    height: 30px;
    outline-color: #de7373;
    border:2px solid #e0dbda;
}
#modal .flex-grow img {
    border-radius:50%;
    border: 2px solid #e0dbda;
    margin:10px;
}
#image-ava > div {
    padding: 0 20px;
}
#image-ava {
    width: 200px;
    margin-right: 10px;
}
#modal .flex-grow .radio {
    display:flex;
}
#modal .flex-grow .radio input {
    width:16px;
}
#modal .flex-grow .radio label {
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:6px;
}
#modal .infor-More {
    margin:20px;
}
#modal .infor-More input {
    width: 167px;
    height: 30px;
    outline-color: #de7373;
    border:2px solid #e0dbda;
}
.flex {
    height:52px;
    display:flex;
    justify-content:space-between;
}
#modal > div > div.modal-body > div.infor-More > div:nth-child(1) > div.email > input {
    width:367px;
}
#modal > div > div.modal-body > div.infor-More > div:nth-child(2) > div.name-company > input {
    width:367px;
}
#modal > div > div.modal-body > div.infor-More > div.input-wrapper3 > input {
    width:552px;
}
[type="radio"]::after  {
    background-image:url(../../content/icon/radio.svg);
}